.about {
    display: flex;
    align-items: center;
    flex-direction: column;

    .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        z-index: 2;

    }

    .info {
        max-width: 800px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        margin-top: -70px;
        border-radius: 5px;
        padding: 50px;
        padding-top: 100px;

        p {
            font-size: 19px;
            text-align: center;
            font-family: brandon-grotesque;

        }
    }

    h2:nth-child(1) {
        margin-left: -690px;
        margin-bottom: 50px;
    }

    h2 {
        margin-left: -560px;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 28px;
        color: #323232;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 800px;


        .project {
            display: flex;
            position: relative;
            border-radius: 5px;
            margin-bottom: 100px;
            padding: 7px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover>.title {
                display: block;
                pointer-events: none;
            }


            &:hover {
                background-color: #000000d1;
            }

            img {
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 5px;
                cursor: pointer;
                opacity: 1;

                &:hover+.textBox {
                    display: block;
                    pointer-events: none;
                }


                &:hover {
                    opacity: 0.1;
                }

            }

            .title {
                display: none;
                position: absolute;
                top: 35%;
                left: 10%;
                width: 250px;
                color: white;
                font-size: 19px;
                font-weight: 500;
                padding-bottom: 10px;
                border-bottom: 1px solid rgb(212, 212, 212);
                text-align: center;
            }

            .textBox {
                display: none;
                position: absolute;
                top: 55%;
                left: 25%;
                color: orange;
                padding: 5px;
                border: 1px solid orange;

            }
        }

    }
}


@media screen and (max-width:900px) {
    .about {
        .projects {
            width: 300px;
            justify-content: center;
        }

        h2:nth-child(1),
        h2 {
            margin-left: 0;
        }
    }
}

